<!doctype html>
<html>

<head>
    <title>Url Shortner</title>
    <meta charset="utf-8">

</head>

<body>
    <h1>Url Shortner</h1>

    <form id="form" action="{{/shorten_url}}" method="post">
        Enter URL: <input type="text" name="original_url" id="original_url" placeholder="www.example.com">
        <input type="submit" value="Submit">
    </form>

    <button type="button" id="allurls" action="{{/list_urls}}" value="Submit">Show all URLS </button>

    <div id="resultUrl"></div>
    <div>
        <h3>All URLS</h3>
        <ol id="showallurls">

        </ol>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', async e => {
            e.preventDefault();
            
            const data = new FormData(e.target);
            console.log(Array.from(data.entries())[0])
            const url = Array.from(data.entries())[0][1];
            if (!url) {
                alert('Form cannot be blank')
                return false
            }
            console.log(url);

            const querySuffix = url.includes('www.shortenedurl.com') ? `redirect_url?shortened_url=${encodeURIComponent(url)}` : `shorten_url?original_url=${encodeURIComponent(url)}`
            const response = await fetch(`http://127.0.0.1:5000/${querySuffix}`, {
                method: url.includes('www.shortenedurl.com') ? 'GET' : 'POST',
            });
            const text = await response.text();
            document.getElementById("resultUrl").innerHTML = text;
        });

        document.getElementById('allurls').addEventListener("click", async e => {
            e.preventDefault();
            const response = await fetch(`http://127.0.0.1:5000/list_urls`, {
                method: 'GET'
            });
            const text = await response.json();
            for (const url of text) {
                document.getElementById("showallurls").innerHTML += `<li> Original URL: ${url[0]}  <br/> Shortened URL: ${url[1]}</li>`
            }
        }, { once: true });


    </script>
</body>

</html>